# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# VS Code
.vscode/

# ENV files
.env

# Ignore Certificate Signing Request files
*.csr
# Ignore private RSA key files
*.key
# Ignore p7m files
*.p7m
